.contenedor{
    background-color: #fff;
    padding-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(76, 78, 100, 0.22);
}

.barra-menu{
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.78);
}

ul.lista-puntos li{
    border-bottom: 1px #cecece solid;
    margin-top: 1rem;
    padding-left: 1rem;
}

.ganador{
    border-bottom: 1px solid #000;
    padding-bottom: 60px;
}